.Menu{
padding: 10px 0 0 0;
}
.menuBody{
    display: flex;
    justify-content: space-between;

}
.settingsNumber{
background-image: url("./menu_button.png");
background-size: 180px 60px;
width: 180px;
height: 60px;
position: relative;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.lenghtSettings{
    width: 180px;
    height: 60px;
    text-align: center;
    border: none;
    background: transparent;
    font-family: 'Lacquer', cursive;
font-size: 30px;
color: #727272;
}
.arrowLeft{
background-image: url("./arrow.svg");
background-repeat: no-repeat;
background-size: 32px 32px;
width: 32px;
height:32px ;
transform: rotate(180deg);
position: absolute;
top: 10px;
left: -40px;
border: none;
}
.arrowRight{
    position: absolute;
    background-image: url("./arrow.svg");
background-repeat: no-repeat;
background-size: 32px 32px;
width: 32px;
height:32px ;
top: 10px;
left: 188px;
border: none;

}
.settingsMode{
    background-image: url("./menu_button.png");
background-size: 180px 60px;
width: 180px;
height: 60px;
position: relative;
}
.modeSettings{
    width: 180px;
    height: 60px;
    text-align: center;
    border: none;
    background: transparent;
    font-family: 'Lacquer', cursive;
font-size: 30px;
color: #727272;
}
.arrowLeftMode{
    border: none;

    background-image: url("./arrow.svg");
    background-repeat: no-repeat;
    background-size: 32px 32px;
    width: 32px;
    height:32px ;
    transform: rotate(180deg);
    position: absolute;
    top: 10px;
    left: -40px;

}
button{
    background: transparent;
}
.arrowRightMode{
    border: none;
    position: absolute;
    background-image: url("./arrow.svg");
background-repeat: no-repeat;
background-size: 32px 32px;
width: 32px;
height:32px ;
top: 10px;
left: 188px;
}
.arrowRightModeDisable{
    border: none;
    position: absolute;
    background-image: url("./arrow.svg");
background-repeat: no-repeat;
background-size: 32px 32px;
width: 32px;
height:32px ;
top: 10px;
left: 188px;
opacity: 0.4;
}