.Menu{
padding: 10px 0 0 0;
}
.settingsNumber{
background-image: url("./menu_button.png");
background-size: 180px 60px;
width: 180px;
height: 60px;
position: relative;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input{
    width: 180px;
    height: 60px;
    text-align: center;
    border: none;
    background: transparent;
    font-family: 'Lacquer', cursive;
font-size: 30px;
color: #727272;
}
.arrowLeft{
background-image: url("./arrow.svg");
background-repeat: no-repeat;
background-size: 32px 32px;
width: 32px;
height:32px ;
transform: rotate(180deg);
position: absolute;
top: 10px;
left: -40px;
}
.arrowRight{
    position: absolute;
    background-image: url("./arrow.svg");
background-repeat: no-repeat;
background-size: 32px 32px;
width: 32px;
height:32px ;
top: 10px;
left: 188px;
}