.App{
    background-image: url("./images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
 height: 100vh;
 padding: 0 20px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.Middle{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}